<div style="width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;">

    <img src="~/images/employeenavigator.png" style="height: 70px;
                                                    position:fixed;
                                                    top: 20px;
                                                    left: 20px;">
    <form method="POST" id="login-form" style="width: 300px; 
                                                text-align: center; 
                                                font-family: sans-serif;">
        <h2>Documentation Login:</h2>
        <input type="text"  autocomplete="off" id="username" placeholder="Username" name="email" style="width: 100%;
                                                                                            margin: 15px;
                                                                                            padding: 6px 12px;
                                                                                            font-size: 14px;
                                                                                            line-height: 1.42857143;"/>  
        
        <input type="password"  autocomplete="off" id="password" placeholder="Password" name="password" style="width: 100%;
                                                                                            margin: 15px;
                                                                                            padding: 6px 12px;
                                                                                            font-size: 14px;
                                                                                            line-height: 1.42857143;"/>  
    
        
        <input type="submit" id="submit-button" style="width: 100%;
                                                        color: white;
                                                        background-color:#3f7ccf;
                                                        border: none;
                                                        border-radius: 5px;
                                                        margin: 15px;
                                                        padding: 6px 12px;
                                                        font-size: 14px;
                                                        line-height: 1.42857143;"/>
    </form>
    <h5 style="color: red;"> Incorrect Access Rights</h5>
</div>
